@charset "utf-8";
*{margin:0; padding:0;}
ul,ol,li{list-style:none;}
img{vertical-align:top;}
a:link,a:visited,a:hover,a:active{color:#333; text-decoration:none;}
body{background:#f3f3f3;}
.pt_list{
	width:945px;
	padding:10px;
	margin:0 auto;
}